* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: var(--text-color);
}

:root {
    --font-family: 'Pacifico', cursive;
    --background-color: #2C3E50;
    --text-color: #ECF0F1;
    --clock-background: #34495E;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.main {
    display: none;
    flex-direction: column;

}

.load {
    display: flex;
    flex-direction: column;
}
.loader {
    border: 8px solid var(--text-color);
    border-top: 8px solid var(--clock-background);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.container {
    text-align: center;
    align-content: center;
    position: relative;
}

.header {
    text-align: center;
    align-content: center;
    height: 20vh;
}

.time-zone-dropdown {
    position: relative;
    width: 50%;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: var(--clock-background);
    color: var(--text-color);
    padding: 5px 10px;
    font-weight: normal;
    border: 1px solid var(--background-color);
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.time-zone-dropdown:hover {
    border-color: var(--text-color);
}
  
.time-zone-dropdown:focus {
    outline: none;
    border-color: var(--text-color);
}

.text {
    font-weight: bold;
    text-align: center;
    align-content: center;
    height: 10vh;
}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: var(--clock-background);
    box-shadow: 0px 0px 30px rgba(0, 0 ,0 ,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i) ));
    inset: 12px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}

.clock::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--text-color);
    z-index: 2;
}

.hand {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: var(--w);
    height: var(--h);
    border-radius: 8px;
}